BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: false
AlignConsecutiveMacros: true
IndentCaseLabels: true
ColumnLimit: 100
