root = true

# Defaults
[*]
indent_style = space
indent_size = 4
tab_width = 4
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 100

[Makefile*]
indent_style = tab
tab_width = 8
indent_size = 8
